@import "../../theme/variables";

ion-segment-button {
  border-top: 1px solid;

  &:first-of-type {
    border: none !important;
    border-right: 1px solid $light-grey !important;
  }

  &:last-of-type {
    border: none !important;
    border-left: 1px solid $light-grey !important;
  }

  // color : map-get($colors, primary);
  opacity: 1 !important;
}

.segment-activated {
  background: transparent !important;
  color: map-get($colors, primary) !important;
}
