<ion-header>
  <ion-navbar>
    <ion-title>
      Connect to devices
    </ion-title>

    <ion-buttons end>
      <button ion-button outline [disabled]="isScanning" (click)="startScanning()">Scan</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar margin-top *ngIf="!isBluetoothEnabled">
    <ion-title class="bluetooth-connectivity-error">
      <span *ngIf="isAndroidDevice">Click to enable bluetooth</span>
      <span *ngIf="!isAndroidDevice">Please enable bluetooth</span>
    </ion-title>

    <ion-buttons end *ngIf="isAndroidDevice">
      <button ion-button color="primary" outline (click)="enableBluetooth()">Enable</button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list no-padding no-lines margin-top>
    <ion-item text-wrap *ngIf="connectedDevices?.length>0">
      <h2>Connected to :</h2>
    </ion-item>
    <div *ngFor="let device of connectedDevices">
      <ion-item text-wrap [color]="connectedDeviceKeyPressed[device.id] ? 'primary' : null">
        <h2>
          <span *ngIf="device?.name">{{ device.name }}</span>
          <span *ngIf="device?.id">{{ device.id }}</span>
        </h2>
        <p *ngIf="device.battery">Battery status: {{ device.battery }}%</p>
        <p>Press any button on the device to highlight this space</p>

        <button ion-button color="danger" (click)="disconnectOne(device)">Disconnect</button>
      </ion-item>
    </div>

    <ion-item text-wrap *ngIf="connectedDevices?.length<=0">
      <h2>Status: Not connected</h2>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-item *ngFor="let device of devices" (click)="connectToDevice(device)">
      <h2>{{device.name}}</h2>
      <ion-icon *ngIf="device.id === connectedDevice?.id" name="checkmark-circle-outline" color="green" item-right></ion-icon>
      <p>{{device.id}}</p>
      <p>{{device.rssi}}</p>
    </ion-item>

    <ion-item *ngIf="isScanning" text-center>
      Scanning...
    </ion-item>
  </ion-list>
</ion-content>
