<ion-header>
  <ion-navbar>
    <ion-title>
      Connect to device
    </ion-title>

    <ion-buttons end>
      <button ion-button outline [disabled]="isScanning" (click)="startScanning()">Scan</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar margin-top *ngIf="!isBluetoothEnabled">
    <ion-title class="bluetooth-connectivity-error">
      <span *ngIf="isAndroidDevice">Click to enable bluetooth</span>
      <span *ngIf="!isAndroidDevice">Please enable bluetooth</span>
    </ion-title>

    <ion-buttons end *ngIf="isAndroidDevice">
      <button ion-button color="primary" outline (click)="enableBluetooth()">Enable</button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list no-padding no-lines margin-top>
    <ion-item text-wrap *ngIf="connectedDevice?.id">
      <h2>Connected to :
        <span *ngIf="connectedDevice?.name">{{ connectedDevice.name }}</span>
        <span *ngIf="connectedDevice?.id">{{ connectedDevice.id }}</span>
      </h2>
      <ion-icon name="checkmark-circle-outline" color="green" item-right></ion-icon>
    </ion-item>

    <ion-item text-wrap *ngIf="!connectedDevice?.id">
      <h2>Status: Not connected</h2>
    </ion-item>
  </ion-list>

  <ion-list inset>
    <ion-item *ngFor="let device of devices" (click)="connectToDevice(device)">
      <h2>{{device.name}}</h2>
      <p>{{device.id}}</p>
      <p>{{device.rssi}}</p>
    </ion-item>

    <ion-item *ngIf="isScanning" text-center>
      Scanning...
    </ion-item>
  </ion-list>
</ion-content>
