<ion-header>
  <ion-toolbar>
    <ion-title>
      SnapLabs
    </ion-title>
    <ion-buttons end>
      <button ion-button outline *ngIf="isLoggedIn" (click)="logout()">
        Logout
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img margin-top full-width src="assets/images/cc2650.jpg" />

  <div *ngIf="!isLoggedIn">
    <h2 text-center margin-top>Create. Investigate. Share.</h2>

    <!-- <p class="margin-top">
      <button ion-button block (click)="openPage(signinPageComponent)">Sign In</button>
    </p> -->

    <p>
      <button ion-button block (click)="openPage(signupPageComponent)">Join</button>
    </p>
  </div>

  <div *ngIf="isLoggedIn">

    <p class="margin-top">
      <button ion-button block (click)="openPage(investigationsPageComponent)">
        Select a local investigation
      </button>
    </p>

    <p>
      <button ion-button block (click)="openPage(downloadInvestigationsPageComponent)">
        Download a new investigation
      </button>
    </p>

    <p>
      <button ion-button block (click)="openPage(savedFilesPageComponent)">
        File Handling
      </button>
    </p>
  </div>


</ion-content>

<ion-footer>
  <button ion-button color="secondary" full no-margin (click)="openPage(connectPageComponent)">
    Sensor tag
  </button>
</ion-footer>
