.toolbar-title {
  white-space: initial !important;
}

.longToast {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

ion-content {
  .sensor-display {
    padding-bottom: 50px;
    ion-item {
      margin-bottom: 15px;
    }
  }

  .grid-container {
    padding-top: 20px;

    ion-row {
      justify-content: center;
    }

    .grid {
      // min-height: 125px;
      //   min-width: 30vw !important;
      //   max-width: 30vw !important;
      //   width: 50vw;

      .grid-data {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: 100%;
        width: 100%;

        color: #000;
        background: #32db64;

        padding: 10px;
      }
    }
  }
}
