.toolbar-title {
  white-space: initial !important;
}

ion-content {
  .sensor-display {
    padding-bottom: 50px;
    ion-item {
      margin-bottom: 15px;
    }
  }

  .grid-container {
    padding-top: 20px;

    ion-row {
      justify-content: center;
    }

    .grid {
      // min-height: 125px;
      //   min-width: 30vw !important;
      //   max-width: 30vw !important;
      //   width: 50vw;

      .grid-data {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        height: 100%;
        width: 100%;

        color: #000;
        background: #32db64;

        padding: 10px;
      }
    }
  }
}
