<ion-header>
  <ion-navbar>
    <ion-title>
      {{ investigation.name }}
    </ion-title>

    <ion-buttons end>
      <button ion-button outline (click)="openPage(connectPageComponent)">Sensor tag</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset no-lines>
    <ion-item text-wrap>
      <h1 text-center>{{ investigation.labTitle }}</h1>
    </ion-item>

    <ion-item>
      <h5>
        Status:
        <span *ngIf="connectedDevices?.length">Connected</span>
        <span *ngIf="!connectedDevices?.length">Not connected</span>
      </h5>

      <div *ngFor="let device of connectedDevices">
        <h5 *ngIf="device?.id">Sensor tag: {{ device.id }}</h5>
      </div>

      <button *ngIf="!connectedDevices?.length" margin-top ion-button color="secondary" full no-margin (click)="openPage(connectPageComponent)">
        Connect to sensor tag
      </button>
    </ion-item>
  </ion-list>

  <ion-list class="sensor-display" inset no-lines *ngIf="sensors?.length">
    <ion-item text-wrap *ngFor="let sensor of sensors">
      <h2>{{ sensor.name }}</h2>

      <div *ngFor="let device of connectedDevices">
        <h5 *ngIf="sensor?.value">
          <span *ngIf="sensor.value[device.id]">
            Device {{ device.id }} -
            <b>{{ sensor.value[device.id] }}</b>
          </span>
        </h5>
      </div>

      <div *ngIf="!!sensor.config.graph.graphdisplay || !!sensor.config.graph.display">
        <canvas id="{{ sensor.name }}" margin-top></canvas>
      </div>

      <ion-grid class="grid-container" *ngIf="!!sensor.config.grid.griddisplay || !!sensor.config.grid.display">
        <ion-row>
          <ion-col>
            <h5>
              <b>Press any button on sensor tag to record a value</b>
            </h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1 class="grid" *ngFor="let grid of sensor.config.grids">
            <div class="grid-data" [id]="grid.id">
              <h4 *ngIf="!grid.value">{{ grid.number }}</h4>
              <h3 *ngIf="grid.deviceId">Sensor {{ grid.deviceId }}</h3>
              <h4 *ngIf="grid.value">
                <b>{{ grid.value }}</b>
              </h4>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer flex *ngIf="display.graph">
  <button ion-button no-margin full no-border-radius color="secondary" *ngIf="graphsStartedAtLeastOnce" (click)="saveGraphData()">
    Save graph data
  </button>

  <button ion-button no-margin full no-border-radius *ngIf="!graphsStarted" (click)="startGraphs()">
    Start graphs
  </button>

  <button ion-button no-margin half no-border-radius *ngIf="graphsStarted" color="danger" (click)="stopGraphs()">
    Stop graphs
  </button>

  <button ion-button no-margin half no-border-radius *ngIf="graphsStarted" color="dark" (click)="resetGraphs()">
    Reset graphs
  </button>
</ion-footer>

<ion-footer flex *ngIf="display.grid">
  <button ion-button no-margin full no-border-radius color="secondary" (click)="saveGridData()">
    Save grid data
  </button>

  <button ion-button no-margin full no-border-radius color="dark" (click)="resetGrid()">
    Reset grid
  </button>
</ion-footer>
