<ion-header>
  <ion-navbar>
    <ion-title>
      File Handling
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset no-lines>
    <ion-item text-wrap>
      <h4>
        Select files to share or delete (with suitable permissions).
      </h4>

      <h4>
        <small>Please note files once deleted cannot be retrieved.</small>
      </h4>
    </ion-item>

    <ion-item text-wrap>
      <h5>Files are stored under
        <b>{{ storageLocationPath }}</b>
      </h5>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-list *ngIf="!files?.length">
      <ion-item>
        <h5>No files available!</h5>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="files?.length">
      <button ion-item text-wrap *ngFor="let file of files" (click)="showFileOptions(file)">
        {{ file.name }}
      </button>
    </ion-list>
  </ion-card>

</ion-content>
