<ion-header>
  <ion-navbar>
    <ion-title>
      Investigations
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h5 padding>Select an investigation</h5>

  <ion-list *ngIf="investigations?.length>0">
    <ion-item *ngFor="let investigation of investigations | snOrderBy: sortOrderInvestigations" detail-push (click)="openInvestigationDetails(investigation)">
      {{ investigation.labTitle }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button color="secondary" full no-margin (click)="openPage(connectPageComponent)">
    Sensor tag
  </button>
</ion-footer>
