<ion-header>
  <ion-navbar>
    <ion-title>
      Investigations
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="investigations?.length>0">
    <button ion-item text-wrap *ngFor="let investigation of investigations" (click)="openInvestigationOptions(investigation)">
      {{ investigation ? investigation.labTitle : "" }}
    </button>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button color="secondary" full no-margin (click)="openPage(connectPageComponent)">
    Sensor tag
  </button>
</ion-footer>
